

<div class="width-100">
<p>Welcome, <%= @account.name %>!</p>
<div class='row'>
  <span class='page-title'>Portfolio</span>
</div>

<div class='row'>
  <div class='col-md-6'>
    <div class='page-name'>

      <span id='port-value'></span>
    </div>
    <%= link_to 'Show Updated Value', '#', class:'update' %>
    <% @account.stocks.each do |s| %>
      <div class="<%= s.id %>-color">
        <p class="<%= s.id %> stock"><%= "#{s.symbol}, #{s.shares} shares" %></p>
      </div>
    <% end %>
  </div>

  <div class='col-md-6'>
    <span class='page-title'>Balance: $<%= @account.balance.to_f.round(2) %></span>
    <%= form_tag(api_path, method:'post') do %>
      <p><%= text_field_tag :symbol ,nil, placeholder:'Ticker', class:'form-field'%></p>
      <p><%= number_field_tag :shares, nil, placeholder:'No. Shares', class:'form-field'%></p>
      <%= submit_tag 'Trade' , class: 'form-btn'%>
    <% end %>
  </div>
</div>

</div>
<script type="text/javascript">
  interval()
  window.x = setInterval(function(){interval()}, 10000)

  // updateVal()
  // setInterval(function(){updateVal()}, 60000)
</script>
