<p>Welcome, <%= @account.name %>!</p>
<div class='page-name'>
  <span class='page-title'>Portfolio</span>
  <span id='port-value'></span>
</div>
<!-- <a href="#" class='update'>Update Portfolio Value</a> -->
<%= link_to 'Show Updated Value', '#', class:'update' %>
<div class='container'>
  <div class='col'>
    <% @account.stocks.each do |s| %>
      <div class="<%= s.id %>-color">
        <p class="<%= s.id %> stock"><%= "#{s.symbol}, #{s.shares} shares" %></p>
      </div>
    <% end %>
  </div>

  <div class='col'>
    <p>Balance: $<%= @account.balance %></p>
    <%= form_tag(api_path, method:'post') do %>
      <p>Symbol: <%= text_field_tag :symbol %></p>
      <p>No. Shares: <%= number_field_tag :shares %></p>
      <%= submit_tag 'Purchase' %>
    <% end %>
  </div>

</div>
