<p><%= @account.email %></p>
<p><%= @account.balance %></p>

<div class="account-page">
  <p><%= @account.stocks[0].symbol%></p>
  <p><%= @account.stocks[0].shares%></p>

  <hr>

  <%= form_tag(api_path, method:"post") do %>
    <p>Symbol: <%= text_field_tag :symbol %></p>
    <p>No. Shares: <%= number_field_tag :shares %></p>
    <%= submit_tag "Purchase" %>
  <% end %>

</div>
<% @account.stocks.each do |s| %>
  <p><%= "#{s.symbol}, #{s.shares} shares" %></p>
<% end %>
